dt 0.01
ttot 2000
tau template_tau
alpha 0.899
beta -0.91
gamma -0.899
delta 2.0
r1 0.02
r2 0.2
d template_diffconst
tstep_start_write 0
tstep_endb4_write 0
tstep_intvl_write 2
datadir dat/pnl_template_dirstring/
